<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Paying</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script src="/static/js/payment.js" defer></script>
</head>
<body>
<div><h1>Payment</h1></div>
<div id="cart-content">
    <div>Total price:</div>
    <div th:text="${totalPrice}">Total Price</divth>
</div>
<div id="payment-options">
    <div id="paypal-img">
        <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-150px.png" alt="PayPal Logo">
    </div>
    <div id="credit-card">
        <img src="https://www.seekpng.com/png/detail/136-1366945_mastercard-logo-png-logo-visa-mastercard-png.png"
             alt="Mastercard Logo Png - Logo Visa Mastercard Png@seekpng.com">
    </div>
</div>
<div id="payment-content"></div>
<div th:replace="footer.html :: copy"></div>
</body>
</html>